<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @first.name %>
</p>

<p>
  <b>Last:</b>
  <%= @first.last %>
</p>

<p>
  <b>Name:</b>
  <%= @first.name %>
</p>

<p>
  <b>Emailid:</b>
  <%= @first.emailid %>
</p>

<p>
  <b>User:</b>
  <%= @first.user %>
</p>

<p>
  <b>Name:</b>
  <%= @first.name %>
</p>

<p>
  <b>Password:</b>
  <%= @first.password %>
</p>

<p>
  <b>Contact:</b>
  <%= @first.contact %>
</p>

<p>
  <b>Number:</b>
  <%= @first.number %>
</p>


<%= link_to 'Edit', edit_first_path(@first) %> |
<%= link_to 'Back', firsts_path %>
